@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h5 class="display-4">Fictional Customers Corp.</h5>
    <a><img src="~/umbrella_corp.jpg" alt="sample image" style="max-width:15%" />
 </a>
    <p><br />Welcome to Fictional Customers!<br /> 
        We provide Junior and Senior developers within the .Net framework, and our mission is to
        help all our clients acheive<br /> their goals without any kind of discrimination, weather you are an evil corporation
        trying to take over the world<br /> or a tree hugging hippie foundation, trying to save the world, we will help you out! <br />
        We do not have a moral compass, we are stricly here for the $Juice$</p>
</div>
